/* 02. Header */


/* ================================================== */

header {
	background: transparent;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9;
}

header.header-small {
	box-shadow: 0px 0px 5px #c1c1c1;
	z-index: 9;
	transition: all 0.3s ease 0s;
	opacity: 0.9;
	background: #18196e;
}

header.header-small .header-top {
	display: none;
	transition: all 0.3s ease 0s;
}

.header-top {
	padding: 10px 0;
}

.header-topbar {
	background: #f9a60f;
}

.top-left {
	display: inline-block;
}

.top-right {
	display: inline-block;
	float: right;
}

.top-right .left {
	display: inline-block;
}

.top-right .right {
	display: inline-block;
}

.top-right .left ul li {
	display: inline-block;
	border-right: 2px solid #fff;
	padding-right: 20px;
	margin-right: 20px;
	margin-top: 15px;
}

.top-right .left ul li:last-child {
	border-right: none;
}

.top-right .left ul li a {
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	color: #fff;
}

.top-right .left ul li a:hover {
	color: #fdb531;
	text-decoration: underline !important;
}

.navbar {
	padding: 0;
}

.header-bottom {
	background: rgb(253, 181, 49);
	padding: 10px 0;
}

.header-bottom .bottom-left {
	display: inline-block;
}

.header-bottom .bottom-right {
	display: inline-block;
}

.header-bottom .bottom-left ul.navbar-nav li {
	display: inline-block;
	padding: 0 10px;
}

.header-bottom .bottom-left ul.navbar-nav li a {
	padding: 0 10px;
	line-height: 24px;
	font-weight: 600;
	text-transform: uppercase;
	border-bottom: 3px solid transparent;
	color: #000;
	padding-bottom: 16px;
}

.header-bottom .bottom-left ul.navbar-nav li a:hover {
	color: #ed5623;
	border-color: #fdb531;
}

.header-bottom .bottom-left ul.navbar-nav li.nav-item.active a {
	color: #000;
	border-color: #fdb531;
}

.header-bottom .bottom-right ul li {
	display: inline-block;
}

.header-bottom .bottom-right ul li a {
	display: inline-block;
	background: #fff;
	color: #090a62;
	border-radius: 50%;
	font-size: 18px;
	line-height: 25px;
	padding: 5px;
	width: 35px;
	height: 35px;
	vertical-align: middle;
	text-align: center;
	margin-left: 15px;
}

.header-bottom .bottom-right ul li a:hover {
	background: #fdb531;
}

.btn.book-ride {
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	background: #ed5623;
	padding: 12px 20px;
	border-radius: 8px;
	border: 0;
}

.btn.book-ride:hover {
	opacity: 0.9;
	transition: all 0.3s ease 0s;
}