 <!--Header area start here-->
 <header>
    <div class="header-topbar">
        <div class="container">
        <div class="left">
            <ul>
            <li style="display: inline-block;"><i class="fa fa-envelope"></i> info@inzin.in</li>
            <li style="display: inline-block;"><i class="fa fa-phone"></i> +91-9313333370</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="top-left">
                <a href="index.html"><img src="assets/home/images/header-logo.png" alt="Logo"></a>
            </div>
            <div class="top-right">
                <div class="left">
                    <ul>
                        <li><a href="drive-with-us.html">Sell with us</a></li>
                        <li><a href="drive-with-us.html">Refer & Earn</a></li> 
                        <li><a class="poppup-forms login-form" href="#login-form">Login / Signup</a></li>
                        <!-- <li><a class="poppup-forms sign-upform" href="#sign-up">Register</a></li> -->
                    </ul>
                </div>
                <div class="right">
                    <a href="book-a-ride.html" class="btn book-ride">Start Business</a>
                </div>
            </div>				
        </div>	
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="bottom-left">
                <nav class="navbar navbar-expand-md">
                    <a class="navbar-brand d-md-none" href="index.html"><img src="assets/home/images/header-logo.png" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a href="index.html">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="services.html">Services</a>
                            </li>
                            <li class="nav-item">
                                <a href="news.html">Offers</a>
                            </li>
                            <li class="nav-item">
                                <a href="gallery.html">Business Partner</a>
                            </li>
                            <li class="nav-item">
                                <a href="testimonial.html">My Story</a>
                            </li>
                            <li class="nav-item">
                                <a href="about-us.html">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="contact-us.html">Contact Us</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Categories
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Brands
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item d-md-none">
                                <a href="drive-with-us.html">Drive with us</a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a href="book-a-ride.html">Book a ride</a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="poppup-forms login-form" href="#login-form">Login</a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="poppup-forms sign-upform" href="#sign-up">Register</a>
                            </li>								
                        </ul>
                    </div>
                </nav>
            </div>			
        </div>	
    </div>		
</header>
<!-- Header area end here -->	