<app-basehome></app-basehome>
<app-navbarhome></app-navbarhome>
<body>
<!-- Register/sign-up Form Start here  -->	
<div class="login-sign-up-popup" id="sign-up">
    <div class="sign-up-form">
        <div class="top-sec">
            <a href="index.html" class="logo"><img src="/assets/home/images/modal-logo.png" alt="logo"></a>
            <h3>REGISTER</h3>
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <div class="form-section">	
                <form action="#" method="get">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="First name*" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="last name*" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="phone*" required>
                  </div>						  
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="email*" required>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required>
                  </div>
                  <button type="submit" class="btn book-ride submit">REGISTER</button>
                </form>							
            </div> 
        </div>
        <div class="bottom-sec">
            <p>Already have an account?<a data-fancybox="" href="#login-form"> Login</a></p>  
        </div>
    </div>
</div>
<!-- Register/sign-up Form End here  -->	
<!-- Login Start here -->
<div class="login-sign-up-popup" id="login-form">
    <div class="login-form">		
        <div class="top-sec">
            <a href="index.html" class="logo"><img src="/assets/home/images/modal-logo.png" alt="logo"></a>
            <h3>LOGIN</h3>
            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
            <div class="form-section">	
                <form action="#" method="get">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email/Phone" required>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required>
                  </div>
                  <p class="frgot-pwd"><a href="#">Forgot password?</a></p>
                  <button type="submit" class="btn book-ride submit">LOGIN</button>
                </form>							
            </div> 
        </div>
        <div class="bottom-sec">
            <p>Don't have an account?<a data-fancybox="" href="#sign-up"> Register Now</a></p>
            <p class="log-with"><span>or login with</span></p>
            <ul class="login-socio">
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i>Facebook</a></li>
                <li><a class="twitter" href="#" target="_blank"><i class="fab fa-twitter"></i>Twitter</a></li>
            </ul>
        </div>
    </div>
</div>	
<!-- Login Form End here -->			
<!-- Pagewrap Start Here -->
<div class="content">
    <!--  Banner Start here -->
    <section class="banner-home">
        <div class="banner-box">
            <!-- <h1><span>Amsterdam</span>Taxi Service Online</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut arcu id risus viverra ultricies non et sem. Sed pharetra porta turpis mollis commodo.</p> -->
        </div>
    </section>
    <!--  Banner End here -->
    <!-- Search Section Start here -->
    <section class="search-section">
        <div class="container">
            <div class="tab-sec">
                <div class="tab-content px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-stander" role="tabpanel" aria-labelledby="nav-stander-tab">
                        <div class="tab-details">
                            <figure>
                                <img src="/assets/home/images/distributor.png" alt="Car Image">
                            </figure>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-suv" role="tabpanel" aria-labelledby="nav-suv-tab">
                        <div class="tab-details">
                            <figure>
                                <img src="/assets/home/images/CnF.png" alt="Car Image">
                            </figure>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-mini" role="tabpanel" aria-labelledby="nav-mini-tab">
                        <div class="tab-details">
                            <figure>
                                <img src="/assets/home/images/Dealer.png" alt="Car Image">
                            </figure>
                        </div>								
                    </div>
                    <div class="tab-pane fade" id="nav-vip" role="tabpanel" aria-labelledby="nav-vip-tab">
                        <div class="tab-details">
                            <figure>
                                <img src="/assets/home/images/workshop.png" alt="Car Image">
                            </figure>
                        </div>
                    </div>						
                </div>
                <nav><br>
                <div class="col-md-12">
                  <div class="btn-group" id="status" data-toggle="buttons">
                    <label class="btn btn-default btn-on-2 btn-sm active">
                    <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">Categories</label>
                    <label class="btn btn-default btn-off-2 btn-sm ">
                    <input type="radio" value="0" name="multifeatured_module[module_id][status]">Brands</label>
                  </div>
                </div>  

                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-stander-tab" data-toggle="tab" href="#nav-stander" role="tab" aria-controls="nav-stander" aria-selected="true">
                            <img src="/assets/home/images/Distributor.svg" alt="Car Image">
                            <p>distributor</p>
                        </a>								
                        <a class="nav-item nav-link" id="nav-suv-tab" data-toggle="tab" href="#nav-suv" role="tab" aria-controls="nav-suv" aria-selected="false">
                            <img src="/assets/home/images/CNF.svg" alt="Car Image">								
                            <p>cnf</p>
                        </a>								
                        <a class="nav-item nav-link" id="nav-mini-tab" data-toggle="tab" href="#nav-mini" role="tab" aria-controls="nav-mini" aria-selected="false">
                            <img src="/assets/home/images/Dealer.svg" alt="Car Image">								
                            <p>dealer</p>
                        </a>								
                        <a class="nav-item nav-link" id="nav-vip-tab" data-toggle="tab" href="#nav-vip" role="tab" aria-controls="nav-vip" aria-selected="false">
                            <img src="/assets/home/images/Workshop.svg" alt="Car Image">								
                            <p>workshop</p>
                        </a>
                    </div>
                </nav>
                <form class="form-inline">	
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Choose Category">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Choose Brand">
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="Phone Number">
                        </div>
                        <div class="form-group">
                            <a href="book-a-ride.html" class="btn book-ride">Book a ride</a>
                        </div>
                </form>
            </div>
        </div>
    </section>			
    <!-- Search Section End here -->
    <!-- What We Offer Section Start here -->	
    <section class="we-offer sec-pd">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h3>WHAT WE OFFER</h3>
                        <h2>HOW INZIN WORKS?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel dolor nec metus porta feugiat sit amet vitae neque. Ut egestas venenatis massa, quis facilisis massa blandit vel.</p>
                    </div>
                </div>
            </div>	
            <ul>
                <li>
                    <div class="offer-colm">
                        <img src="/assets/home/images/adress-pickup.png" alt="Address Pickup">	
                        <h3>Address Pickup</h3>	
                        <p>We always pick up our clients on time, 24/7 availability.</p>
                    </div>
                </li>
                <li>
                    <div class="offer-colm">
                        <img src="/assets/home/images/airport-ransfer.png" alt="Airport Transfer">	
                        <h3>Airport Transfer</h3>	
                        <p>GetCab specialized in 24 hours airport transfer service.</p>
                    </div>
                </li>
                <li>
                    <div class="offer-colm">
                        <img src="/assets/home/images/long-distance.png" alt="Long Distance">	
                        <h3>Long Distance</h3>	
                        <p>We offer you a long distance taxi service to anywhere.</p>
                    </div>
                </li>
                <li>
                    <div class="offer-colm no-bd">
                        <img src="/assets/home/images/taxi-tours.png" alt="Taxi Tours">	
                        <h3>Taxi Tours</h3>	
                        <p>We offer taxi tours of various durations and complexity.</p>
                    </div>
                </li>
            </ul>			
        </div>
    </section>			
    <!-- What We Offer Section End here -->			
    <!-- Download App Section Start here -->	
    <section class="download-app parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="section-title">
                        <h3>DOWNLOAD FOR FREE</h3>
                        <h2>Download the App</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet velit massa. Etiam consequat sit amet felis et efficitur.</p>
                        <ul>
                            <li><a href="#" target="_blank"><img src="/assets/home/images/app-store.png" alt="App Store"></a></li>
                            <li><a href="#" target="_blank"><img src="/assets/home/images/google-app.png" alt="Google App"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="download-app-right">
                        <img src="/assets/home/images/download-app-right-image.png" alt="Mobile App">	
                    </div>
                </div>
            </div>			
        </div>
    </section>			
    <!-- Download App Section End here -->						
    <!-- Latest News Section Start here -->	
    <section class="latest-news sec-pd">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h3>STAY IN TOUCH</h3>
                        <h2>Choose Your Brand</h2>
                    </div>
                </div>
            </div>	
            <div class="row">
                <div class="col-md-6">
                    <div class="news-blk">
                        <div class="img-ar">
                            <img src="/assets/home/images/latest-news1.jpg" alt="Latest New">
                        </div>
                        <div class="txt-ar">
                            <h3>Fasten Velocity</h3>
                            <h5><i class="far fa-clock"></i>Oct 19, 2019</h5>
                            <p>Pellentesque vitae dui sit amet enim consequat bibendum Donec feugiat ex arcu.</p>
                            <a href="news-details.html">Read More<span><i class="fas fa-arrow-right"></i></span></a>
                            <a href="news.html" class="btn book-ride">Book Now</a>
                        </div>					
                    </div>
                </div>					
                <div class="col-md-6">
                    <div class="news-blk">
                        <div class="img-ar">
                            <img src="/assets/home/images/latest-news2.jpg" alt="Latest New">
                        </div>
                        <div class="txt-ar">
                            <h3>D4 Lubricants</h3>
                            <h5><i class="far fa-clock"></i>Oct 19, 2019</h5>
                            <p>Pellentesque vitae dui sit amet enim consequat bibendum Donec feugiat ex arcu.</p>
                            <a href="news-details.html">Read More<span><i class="fas fa-arrow-right"></i></span></a>
                            <a href="news.html" class="btn book-ride">Book Now</a>
                        </div>						
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="news-blk">
                        <div class="img-ar">
                            <img src="/assets/home/images/latest-news2.jpg" alt="Latest New">
                        </div>
                        <div class="txt-ar">
                            <h3>D4 Lubricants</h3>
                            <h5><i class="far fa-clock"></i>Oct 19, 2019</h5>
                            <p>Pellentesque vitae dui sit amet enim consequat bibendum Donec feugiat ex arcu.</p>
                            <a href="news-details.html">Read More<span><i class="fas fa-arrow-right"></i></span></a>
                            <a href="news.html" class="btn book-ride">Book Now</a>
                        </div>						
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="news-blk">
                        <div class="img-ar">
                            <img src="/assets/home/images/latest-news2.jpg" alt="Latest New">
                        </div>
                        <div class="txt-ar">
                            <h3>D4 Lubricants</h3>
                            <h5><i class="far fa-clock"></i>Oct 19, 2019</h5>
                            <p>Pellentesque vitae dui sit amet enim consequat bibendum Donec feugiat ex arcu.</p>
                            <a href="news-details.html">Read More<span><i class="fas fa-arrow-right"></i></span></a>
                            <a href="news.html" class="btn book-ride">Book Now</a>
                        </div>						
                    </div>
                </div>
            </div>	
            <div class="row">	
                <div class="veiw-all-news col-12">
                    <a href="news.html" class="btn book-ride">VIEW ALL NEWS</a>
                </div>
            </div>
        </div>
    </section>			
    <!-- Latest News Section End here -->	

        <!-- Car Classes & Rates Section Start here -->	
        <section class="car-category sec-pd">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="section-title">
                            <h3>CAR CLASSES AND RATES</h3>
                            <h2>LATEST OFFERS</h2>
                        </div>
                    </div>
                </div>	
                <div class="row">
                    <div class="col-md-4">
                        <div class="category-colm">
                            <img src="/assets/home/images/economy-car.png" alt="Economy Class">	
                            <h3>Economy Class</h3>	
                            <p>Our taxi service offers a big car selection from luxury vehicles to budget cars</p>
                            <h4>$2,5/mi</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="category-colm">
                            <img src="/assets/home/images/stander-car.png" alt="Standard Class">	
                            <h3>Standard Class</h3>	
                            <p>Our taxi service offers a big car selection from luxury vehicles to budget cars</p>
                            <h4>$3,5/mi</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="category-colm">
                            <img src="/assets/home/images/bussines-car.png" alt="Business Class">	
                            <h3>Business Class</h3>	
                            <p>Our taxi service offers a big car selection from luxury vehicles to budget cars</p>
                            <h4>$4,5/mi</h4>
                        </div>
                    </div>
                </div>			
            </div>
        </section>			
        <!-- Car Classes & Rates Section End here -->	

    <!-- Our Benefits Section Start here -->	
    <section class="our-benefits sec-pd">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h3>MAIN FEATURES</h3>
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>	
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="benefits-colm">
                        <img src="/assets/home/images/fixed-price.png" alt="Fixed Price">	
                        <h3>Fixed Price</h3>	
                        <p>The fixed fare is set in every taximeter as the main tariff.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="benefits-colm">
                        <img src="/assets/home/images/no-fee.png" alt="No Fee">	
                        <h3>No Fee</h3>	
                        <p>We guarantee fixed price and you should not pay tips.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="benefits-colm">
                        <img src="/assets/home/images/pleasure.png" alt="100% Pleasure">	
                        <h3>100% Pleasure</h3>	
                        <p>We have a lot of standing customer and high ratings.</p>
                    </div>
                </div>
            
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="benefits-colm">
                        <img src="/assets/home/images/nationwide.png" alt="Nationwide">	
                        <h3>Nationwide</h3>	
                        <p>Our application is the easiest way to book a taxi.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="benefits-colm">
                        <img src="/assets/home/images/easy-to-use.png" alt="Easy to use">	
                        <h3>Easy to use</h3>	
                        <p>Orci varius natoque penatibus et magnis dis parturient montes,mus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="benefits-colm">
                        <img src="/assets/home/images/bonuse--for-ride.png" alt="100% Pleasure">	
                        <h3>Bonuses for Ride</h3>	
                        <p>Phasellus l et porta tortor dignissim at. Pellentesque gravida tortormollis.</p>
                    </div>
                </div>
            
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="benefits-colm">
                        <img src="/assets/home/images/nationwide.png" alt="Nationwide">	
                        <h3>Nationwide</h3>	
                        <p>Our application is the easiest way to book a taxi.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="benefits-colm">
                        <img src="/assets/home/images/easy-to-use.png" alt="Easy to use">	
                        <h3>Easy to use</h3>	
                        <p>Orci varius natoque penatibus et magnis dis parturient montes,mus.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="benefits-colm">
                        <img src="/assets/home/images/bonuse--for-ride.png" alt="100% Pleasure">	
                        <h3>Bonuses for Ride</h3>	
                        <p>Phasellus l et porta tortor dignissim at. Pellentesque gravida tortormollis.</p>
                    </div>
                </div>
            </div>	
        </div>
    </section>			
    <!-- Our Benefits Section End here -->	
    <!-- Earn with us Section Start here -->	
    <section class="earn-with-us sec-pd">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-title">
                        <h3>HI! SELLERS</h3>
                        <h2>DO YOU WANT TO SELL WITH US?</h2>
                        <p>Quisque eleifend enim eu dui gravida scelerisque ac sed erat. Morbi sed ultrices lacus. Vestibulum lacinia ipsum non placerat viverra. Vivamus accumsan, lacus nec finibus sagittis, augue nibh sollicitudin lorem, non luctus sapien nunc ac dolor. Sed mollis ex dolor, vel molestie dolor feugiat vel. Nulla facilisi. In viverra sapien vitae lectus consectetur nec vestibulum enim semper. Nulla auctor neque augue, sit amet euismod mi interdum id. Nam v</p>
                        <ul>
                            <li><i class="fas fa-check"></i>Luxury cars</li>
                            <li><i class="fas fa-check"></i>No fee</li>
                            <li><i class="fas fa-check"></i>Weekly payment</li>
                        </ul>
                        <ul>
                            <li><i class="fas fa-check"></i>Weekly payment</li>
                            <li><i class="fas fa-check"></i>Good application</li>
                            <li><i class="fas fa-check"></i>Stable orders</li>									
                        </ul>								
                        <a href="drive-with-us.html" class="btn book-ride">Become Driver</a>
                    </div>
                </div>	
                <div class="col-md-6">
                    <div class="right-colm">
                        <img src="/assets/home/images/sell-with-us.png" alt="Car Driver">	
                    </div>	
                </div>					
            </div>			
        </div>
    </section>			
    <!-- Earn with us Section End here -->
    <!-- Testimonials Section Start Here -->
    <section class="testimonials-sec sec-pd">
        <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h3>Our Client Loves Us</h3>
                    <h2>testimonials</h2>
                </div>
            </div>				
        </div>	
        <div class="row">
            <div class="col-12">
                <div id="testimonial-slider" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonial">
                            <div class="pic">
                                <img src="/assets/home/images/img-1.png" alt="">
                            </div>
                            <div class="review">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mauris tellus, congue sit amet elementum sit amet, imperdiet non erat. Pellentesque finibus nisi rhoncus turpis pellentesque venenatis. Ut nec scelerisque urna, non luctus leo. Aliquam aliquam tempus lectus eu rutrum. Nam vitae nisi dapibus, bibendum metus rutrum eleifend lacus. Suspendisse potenti. Maecenas dolor nunc, interdum id metus sed, euismod tempor mi. Cras orci ex, faucibus in quam</p>
                            </div>
                        </div>
                        <div class="author">	
                            <h3>John Deo</h3>
                            <p>Mauris venenatis pulvinar</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial">
                            <div class="pic">
                                <img src="/assets/home/images/img-1.png" alt="">
                            </div>
                            <div class="review">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mauris tellus, congue sit amet elementum sit amet, imperdiet non erat. Pellentesque finibus nisi rhoncus turpis pellentesque venenatis. Ut nec scelerisque urna, non luctus leo. Aliquam aliquam tempus lectus eu rutrum. Nam vitae nisi dapibus, bibendum metus rutrum eleifend lacus. Suspendisse potenti. Maecenas dolor nunc, interdum id metus sed, euismod tempor mi. Cras orci ex, faucibus in quam</p>
                            </div>
                        </div>
                        <div class="author">	
                            <h3>John Deo</h3>
                            <p>Mauris venenatis pulvinar</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial">
                            <div class="pic">
                                <img src="/assets/home/images/img-1.png" alt="">
                            </div>
                            <div class="review">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mauris tellus, congue sit amet elementum sit amet, imperdiet non erat. Pellentesque finibus nisi rhoncus turpis pellentesque venenatis. Ut nec scelerisque urna, non luctus leo. Aliquam aliquam tempus lectus eu rutrum. Nam vitae nisi dapibus, bibendum metus rutrum eleifend lacus. Suspendisse potenti. Maecenas dolor nunc, interdum id metus sed, euismod tempor mi. Cras orci ex, faucibus in quam</p>
                            </div>
                        </div>
                        <div class="author">	
                            <h3>John Deo</h3>
                            <p>Mauris venenatis pulvinar</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial">
                            <div class="pic">
                                <img src="/assets/home/images/img-1.png" alt="">
                            </div>
                            <div class="review">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mauris tellus, congue sit amet elementum sit amet, imperdiet non erat. Pellentesque finibus nisi rhoncus turpis pellentesque venenatis. Ut nec scelerisque urna, non luctus leo. Aliquam aliquam tempus lectus eu rutrum. Nam vitae nisi dapibus, bibendum metus rutrum eleifend lacus. Suspendisse potenti. Maecenas dolor nunc, interdum id metus sed, euismod tempor mi. Cras orci ex, faucibus in quam</p>
                            </div>
                        </div>
                        <div class="author">	
                            <h3>John Deo</h3>
                            <p>Mauris venenatis pulvinar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>				
    </section>			


<app-footerhome></app-footerhome>