	<!-- Newsletter Subscribe Section Start Here -->
    <section class="email-subscribe-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-4">
                    <div class="left-text">
                        <h2>Signup for our newsletter</h2>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="subscribe-form">
                        <form method="get" action="#">
                            <div class="input-group md-form form-sm form-2 pl-0">
                                <input class="form-control" type="text" placeholder="Enter Your Email">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-arrow-right"></i></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Newsletter Subscribe Section End Here -->			
    <!-- Footer Section Start here -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="logo-sec">
                        <a href="index.html"><img src="/assets/home//assets/home/images/footer-logo.png" alt="Footer Logo"></a>
                        <p>Proin a enim malesuada, auctor mi et, eleifend lectus. Fusce vulputate arcu nec nisi ultricies facilisis. Nunc sed congue erat. Maecenas sit amet sem leo. aliquam id urna. Quisque sit amet erat aliquet</p>
                        <ul class="footer-socio">
                            <li><a href="#" target="_blank"><span><i class="fab fa-facebook-f"></i></span></a></li>
                            <li><a href="#" target="_blank"><span><i class="fab fa-twitter"></i></span></a></li>
                            <li><a href="#" target="_blank"><span><i class="fab fa-pinterest-p"></i></span></a></li>
                            <li><a href="#" target="_blank"><span><i class="fab fa-instagram"></i></span></a></li>
                            <li><a href="#" target="_blank"><span><i class="fab fa-linkedin-in"></i></span></a></li>					
                        </ul>	
                    </div>						
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="services">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="#">Get a cab</a></li>
                            <li><a href="#">Reviews</a></li>
                        </ul>
                        <ul>
                            <li><a href="news.html">Our News</a></li>
                            <li><a href="#">Rewards</a></li>
                            <li><a href="#">Our Cars</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li>						
                        </ul>							
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="get-in-touch">
                        <h3>Get In Touch</h3>
                        <p><i class="fas fa-map-marker-alt"></i>1336 Charter Oak Dr, Crane, TX, 79731</p>
                        <ul>
                            <li><a href="tel:+1-760-284-3410"><i class="fas fa-phone-alt"></i>+1 760 284 3410</a></li>
                            <li><a href="mailto:info@zeatrib.com"><i class="far fa-envelope"></i>info@zeatrib.com</a></li>									
                        </ul>
                    </div>
                </div>				
            </div>
        </div>
        <div class="footer-bottom"><p>© 2019. All Rights Reserved.</p></div>
    </footer>

<!-- Pagewrap End Here-->		
<!-- jQuery (necessary for JavaScript plugins) -->
<script src="/assets/home/js/jquery.min.js"></script>
<!-- Bootsrap JS -->
<script src="/assets/home/common/bootstrap/js/bootstrap.min.js"></script>
<!-- Owl Crousel -->
<script src="/assets/home/common/owl-carousel/js/owl.carousel.js"></script>
<!-- Fancybox -->
<script src="/assets/home/common/fancybox/jquery.fancybox.min.js"></script>		
<!-- Font Awesome JS -->
<script src="/assets/home/js/all.min.js"></script>	
<!-- Custom JS -->
<script src="/assets/home/js/custom.js"></script>			
    <!-- Footer Section End Here -->	