<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <div class="nav-link">
          <div class="profile-image">
            <img src="http://via.placeholder.com/100x100/f4f4f4/000000" alt="image"/>
            <span class="online-status online"></span> <!--change class online to offline or busy as needed-->
          </div>
          <div class="profile-name">
            <p class="name">
              Marina Michel
            </p>
            <p class="designation">
              Super Admin
            </p>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/dashboard">
          <i class="icon-rocket menu-icon"></i>
          <span class="menu-title">Dashboard</span>
          <span class="badge badge-success">New</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/users">
          <i class="icon-shield menu-icon"></i>
          <span class="menu-title">Users</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/products">
          <i class="icon-shield menu-icon"></i>
          <span class="menu-title">Products</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/brands">
          <i class="icon-shield menu-icon"></i>
          <span class="menu-title">Brands</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/categories">
          <i class="icon-shield menu-icon"></i>
          <span class="menu-title">Categories</span>
        </a>
      </li>
     
    </ul>
  </nav>