<body>
    <div class="container-scroller">
      <!--PArtial navbar-->
     <app-navbar></app-navbar>
      
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
          <!-- partial:partials/_settings-panel.html -->
          <app-settings></app-settings>
        
          <!-- partial -->
          <!-- partial:partials/_sidebar.html -->
          <app-sidebar></app-sidebar>
        
          <!-- partial -->
         
          <div class="content-wrapper">
            <div class="col-md-6"  style="margin-top: 200px;">
                <div class="example-header ">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
                </div>
              </div>
            <mat-table [dataSource]="dataSource" matSort >
            
                <!-- ID Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
                  </ng-container>
                <ng-container matColumnDef="username">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
                </ng-container>
            
                <!-- Progress Column -->
                <ng-container matColumnDef="password">
                  <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 70px!important;"> Password </mat-header-cell>
                  <mat-cell *matCellDef="let row" style="cursor: pointer;max-width: 70px!important;"> {{row.password}}  </mat-cell>
                </ng-container>
            
              
          
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
              </mat-table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
         
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <app-footer></app-footer>
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2017 <a href="#">UrbanUI</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
  
    
  </body>
  
  